*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
    background-color: #f8e9d6;
}

.display {
    display: none;
    position: absolute;
    width: 180px;
    height: 100px;
    border: solid 1px;
    font-size: 1em;
    background-color: white;
}

.green,
.purple {
    position: absolute;
    width: 2vw;
    color: black;
    text-align: center;
    cursor: pointer;
}

.blob {
    width: 5vw;
    height: 5vw;
}

.flip svg {
    transform: rotateY(180deg);
}

.number {
    position: absolute;
    transform: translate(2.2vw, -1vw);
    font-size: 1vw;
    z-index: 2;
}

#basketball {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
}

#dribbleBall {
    display: none;
}

.morphTo {
    display: none;
}

.st4 {
    fill: none;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.st32 {
    fill: #ff8a14;
}
.st95 {
    fill: #eb6d00;
}

.scoreboard {
    background-image: url('./assets/scoreboard.png');
    background-size: cover;
    position: absolute;
    width: 40vw;
    height: 6vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
}

.score {
    font-size: 3rem;
}