*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-content: center;
  background-color: #f8e9d6;
}

.display {
  display: none;
  position: absolute;
  width: 180px;
  height: 100px;
  border: solid 1px;
  font-size: 1em;
  background-color: white;
}

.green,
.purple {
  position: absolute;
  width: 2vw;
  color: black;
  text-align: center;
  cursor: pointer;
}

.blob {
  width: 5vw;
  height: 5vw;
}

.green .number {
  position: absolute;
  transform: translate(2.2vw, 2vw);
  font-size: 1vw;
  z-index: 2;
}

.purple .number {
  position: absolute;
  transform: translate(2.2vw, 2vw);
  font-size: 1vw;
  z-index: 2;
}

.blob.flip {
  transform: rotateY(180deg);
}
